# Database
DB_HOST=localhost
DB_NAME=lux_empire
DB_USER=root
DB_PASS=

# Google Maps
GOOGLE_MAPS_API_KEY=

# Mail
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your-email@example.com
MAIL_PASSWORD=
MAIL_FROM_EMAIL=your-email@example.com
MAIL_FROM_NAME=Lux Empire
